{%- extends "layout/base.html" -%}
{%- import "layout/snippets.html" as snippets -%}

{%- block title %}Reset your {{ app_name }}'s password{% endblock -%}

{%- block content -%}
  {% call snippets.grid() %}
    {% call snippets.row() %}
      {% call snippets.column(valign = "center") %}
        <img src="cid:0" style="height: 1.50rem;" alt="{{ app_name}}'s logo'" />
      {% endcall %}
      {% call snippets.column(align = "right", valign = "center") %}
        {{ app_description }}
      {% endcall %}
    {% endcall %}

    {% call snippets.row() %}
      {{ snippets.column() }}
      {% call snippets.column() %}
        <h1>You've asked to reset your {{ app_name }}'s password</h1>
        <p>Click the button to reset it</p>
        {% call snippets.button("%s/#/reset_password?code=%s&email=%s" | format(app_url, token.code, actor.email)) %}
          Reset your password
        {% endcall %}
        <p>If you haven't, please, accept our appologies and ignore this message</p>
      {% endcall %}
      {{ snippets.column() }}
    {% endcall %}
  {% endcall %}
{%- endblock -%}
