{%- extends "layout/base.html" -%}
{%- import "layout/snippets.html" as snippets -%}

{%- block title %}{{ invitation.email }} has asked for an invitation{% endblock -%}

{%- block content -%}
  {% call snippets.grid() %}
    {% call snippets.row() %}
      {% call snippets.column(valign = "center") %}
        <img src="cid:0" style="height: 1.50rem;" alt="{{ app_name}}'s logo'" />
      {% endcall %}
      {% call snippets.column(align = "right", valign = "center") %}
        {{ app_description }}
      {% endcall %}
    {% endcall %}

    {% call snippets.row() %}
      {{ snippets.column() }}
      {% call snippets.column() %}
        <h1>{{ invitation.email }} has asked for an invitation</h1>
        <p>Click the button to send it</p>
        {% call snippets.button("%s/%s/send" | format(server_name, invitation.email | urlencode)) %}
          Send invitation to {{ invitation.email }}
        {% endcall %}
        <p>
          <a href="http://www.google.com/search?q={{ invitation.email | urlencode }}">Click here to search it @ Google</a>
        </p>
        <p>
          <a href="https://duckduckgo.com/?q={{ invitation.email | urlencode }}">Click here to search it @ Duckduckgo</a>
        </p>
      {% endcall %}
      {{ snippets.column() }}
    {% endcall %}
  {% endcall %}
{%- endblock -%}
